<template>
  <div>
    <v-list rounded>
      <v-list-item-group>
        <v-list-item link to="game">
          <v-list-item-content>
            <v-list-item-title> Jugar </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title> Reglas </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title> Salir </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>