<template>
  <div>
    <v-card max-width="640px">
      <v-card-actions>
        <v-btn> Siguiente </v-btn>
      </v-card-actions>
      <v-img src="../assets/imgs/img20.jpg"> </v-img>
    </v-card>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>