<template>
  <div class="about">
    <v-btn
      @click="$router.push('/')"
      block
      rounded
      dark
      x-large
      color="#ff9b85"
    >
      Atrás
    </v-btn>
    <v-btn @click="randomPicture()" block rounded dark x-large color="#60d394">
      Imágen Aleatoria
    </v-btn>
    <v-card>
      <img :src=img>
      {{img}}
      <v-img src="../assets/imgs/img7.jpg"> </v-img>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      img: "../assets/imgs/img7.jpg",
    };
  },
  methods: {
    randomPicture(min = 0, max = 39) {
      let number = Math.floor(Math.random() * (max - min) + min);
      let img = `..assets/imgs/img${number}.jpg`;
      this.img = img;
      console.log(img);
    },
  },
};
</script>