<template>
  <div>
    <base-menu/>
  </div>
</template>

<script>
import BaseCard from '../components/BaseCard.vue';
import BaseMenu from '../components/BaseMenu.vue';
// import HelloWorld from '../components/HelloWorld'

export default {
  name: "Home",

  components: {BaseMenu, BaseCard},
};
</script>
<style scoped>
</style>
